[submodule "metaverse-contracts/lib/forge-std"]
	path = metaverse-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "metaverse-contracts/lib/openzeppelin-contracts"]
	path = metaverse-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
